@import "~normalize-css/normalize.css";
@import "./colors";

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400, 400i,600&subset=latin-ext');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background: $white;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

a {
    &, &:hover, &active {
        color: inherit;
        text-decoration: none;
    }

}